@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}
    <body>
        @using (Html.BeginForm("GetValue", "User"))
        {

            <input id="un" type="text" name="username" />

            <input id="pw" type="password" name="password" />

            <input id="login" type="submit" value="Logga in" />

        }


    </body>
